<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joeyio.thunder_download</string>
	<key>connections</key>
	<dict>
		<key>743E66B9-1BC3-4B5C-AB5E-AD092E179900</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0204B1A-559E-46DB-8A9B-46875FDDECF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JoeyBlue</string>
	<key>description</key>
	<string>A Thunder download helper</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Thunder Downloader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>thunder</string>
				<key>subtext</key>
				<string>sample: td http://x.xx/x.dmg</string>
				<key>text</key>
				<string>Thunder downloader</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>743E66B9-1BC3-4B5C-AB5E-AD092E179900</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript ./thunder.scpt {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0204B1A-559E-46DB-8A9B-46875FDDECF1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>743E66B9-1BC3-4B5C-AB5E-AD092E179900</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>A0204B1A-559E-46DB-8A9B-46875FDDECF1</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://joeyio.com</string>
</dict>
</plist>
