<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>florian.urban</string>
	<key>connections</key>
	<dict>
		<key>C2F1A797-6B2F-4EC6-9450-ECE59634E678</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C713A06-0A8E-415B-8C30-13A983C3DE7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Florian Pellet</string>
	<key>description</key>
	<string>Define words using Urban Dictionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Urban Dictionary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>define</string>
				<key>runningsubtext</key>
				<string>fetching definitions for "{query}"</string>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();

//querying API
$query = "{query}";
$results = $w-&gt;request("http://api.urbandictionary.com/v0/define?term=".urlencode($query));
$results = json_decode($results);

//no result case, outputting like Alfred's "define"
if($results-&gt;result_type!="exact"){
	$w-&gt;result(
		"ud".$query,
		"http://www.urbandictionary.com/define.php?term=".urlencode($query),
		$query,
		"Open word in urbandictionary.com",
		'icon.png',
		'yes' );
	echo $w-&gt;toxml();
	return;
}

//sorting by quality
$results = $results-&gt;list;
function ruleOfThumbs($a, $b){
	$a_score = $a-&gt;thumbs_up/$a-&gt;thumbs_down;
	$b_score = $b-&gt;thumbs_up/$b-&gt;thumbs_down;
	if($a_score==$b_score) return 0;
	return ($a_score &gt; $b_score) ? -1 : 1;
}
usort($results, ruleOfThumbs);

//outputting results like Alfred's "define"
foreach ($results as $result) {
	$w-&gt;result(
		$result-&gt;defid,
		$result-&gt;permalink,
		$result-&gt;word,
		$result-&gt;definition,
		'icon.png',
		'yes' );
}
echo $w-&gt;toxml();</string>
				<key>title</key>
				<string>Define Word...</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C2F1A797-6B2F-4EC6-9450-ECE59634E678</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1C713A06-0A8E-415B-8C30-13A983C3DE7B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C713A06-0A8E-415B-8C30-13A983C3DE7B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C2F1A797-6B2F-4EC6-9450-ECE59634E678</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>florianpellet.com</string>
</dict>
</plist>
