<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-set-resolution-workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3130FCF9-9A30-4FF0-A5EE-BEE3BAEB08F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3809F4AB-324D-4562-BEB0-9F29187F53AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>57B8F7AF-14BD-4774-AF0B-350317829554</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0F7A9ED-7E4A-488D-8AA6-92798A8C8A79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7FCD3413-2CB3-41C2-9641-62C1DD170A33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F356255B-4349-482F-A505-89B0B9D90F14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>57B8F7AF-14BD-4774-AF0B-350317829554</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Remove this resolution from the list</string>
			</dict>
		</array>
		<key>D146A9A1-2188-4D7F-84DE-68D81BE67E18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3130FCF9-9A30-4FF0-A5EE-BEE3BAEB08F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F356255B-4349-482F-A505-89B0B9D90F14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B27CAC8-7961-491C-BF9D-0878AF61C1DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>A workflow to change between available resolutions on your display, specially handy for Retina displays.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Set Resolution</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby set-resolution.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F356255B-4349-482F-A505-89B0B9D90F14</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>setresolution</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./feedback.rb "{query}"</string>
				<key>subtext</key>
				<string>Select between available screen resolutions, type to filter</string>
				<key>title</key>
				<string>Set Screen Resolution</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7FCD3413-2CB3-41C2-9641-62C1DD170A33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Resolution changed to {query}</string>
				<key>title</key>
				<string>Set Resolution</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1B27CAC8-7961-491C-BF9D-0878AF61C1DF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>removed {query} from the list</string>
				<key>title</key>
				<string>Resolution removed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F0F7A9ED-7E4A-488D-8AA6-92798A8C8A79</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby remove-resolution.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>57B8F7AF-14BD-4774-AF0B-350317829554</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby reset-resolution-list.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3130FCF9-9A30-4FF0-A5EE-BEE3BAEB08F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>resetresolution</string>
				<key>subtext</key>
				<string>resets the resolution list back to default</string>
				<key>text</key>
				<string>Reset Resolution list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D146A9A1-2188-4D7F-84DE-68D81BE67E18</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Resolution list rebuilt</string>
				<key>title</key>
				<string>Resolution Reset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3809F4AB-324D-4562-BEB0-9F29187F53AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>1B27CAC8-7961-491C-BF9D-0878AF61C1DF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3130FCF9-9A30-4FF0-A5EE-BEE3BAEB08F8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3809F4AB-324D-4562-BEB0-9F29187F53AF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>57B8F7AF-14BD-4774-AF0B-350317829554</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7FCD3413-2CB3-41C2-9641-62C1DD170A33</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D146A9A1-2188-4D7F-84DE-68D81BE67E18</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F0F7A9ED-7E4A-488D-8AA6-92798A8C8A79</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F356255B-4349-482F-A505-89B0B9D90F14</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-set-resolution-workflow</string>
</dict>
</plist>
