.*
Library
Downloads
Workspace
Music
Movies
mpv
Desktop
Documents
Applications
Adlm
Pictures
WeFlow_workspace
截图
spf*
node_modules
Source
aria2.conf
bullet-train.zsh-theme
npm-install-15963.sh
ycm_extra_conf.objc.py
.DS_Store
/Startify
/bin
/go
/heapDump-Webstorm-1471658795218.hprof.zip
Applications (Parallels)
Dropbox
Mail
org
/quicklisp
/Parallels
/floobits
vimfiler/
tags/
hacker_news_data.txt
/bitbar/notifications.30s.py
PySocks
ti
EvothingsStudio
/golang
/ClionProjects
