!.my_emacs/
!.config
!/.emacs.d/private
/local/bin/light.DS_Store
!.config/clojure
!.doom.d/**/*
Library
emacs
.CFUserTextEncoding
.TabNine/
.Trash/
.bash_profile
.cache/
.cargo/
.cljs/
.clojure_history
.config/.mono/
.config/broot/launcher/
.config/configstore/
.config/gh/
.config/htop/
.config/karabiner/
.config/kitty/kitty-themes/
.config/lazygit/
.config/qBittorrent/
.config/thefuck/
.config/wezterm/
.config/yarn/
.conflux-bin/
.deps.clj/
.dirac/
.docker/
.doom.d/keybindings.el
.dropbox/
.emacs.d
.emacs.keyfreq
.eslintignore
.fasd
.fnm/
.fzf.bash
.fzf.zsh
.gem/
.gitconfig.local
.gitlibs/
.gnupg/
.gnupg_pre_2.1/
.histdb/
.hunspell_default/
.ispell_english
.jabba/
.jokerd/
.lesshst
.local/
.m2/
.mcfly/
.ngrok2/
.node-gyp/
.node_history
.notmuch-config
.npm/
.openjfx/
.oss-browser/
.profile
.pyenv/
.python_history
.rbenv/
.rustup/
.sonarlint/
.ssh
.tailwindcss/
.terminfo/
.tldrc/
.tmux/
.vim/
.viminfo
.vscode/
.wget-hsts
.yarn/
.yarnrc
.zcompdump
.zlogin
.zlogout
.zprezto/
.zpreztorc
.zprofile
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
GokuRakuJoudo/
Movies/
Music/
Pictures/
Public/
feroxbuster
fixed_script.js
golang/
javasharedresources/
lieer/
mail/
org-mode/
workspace/
yqdotfiles/
News
node_modules
eln-cache
vscode-eslint
Parallels
.zcompdump.*
.yarnrc.yml
.vvm
.vscode-insiders
.vagrant.d
.travis
.subversion
.standard-v12-cache
.sqlite-history.zsh
.sentryclirc
.proxyman
.oh_my_wechat/
.BZG/
.alfred-jira/
.bash_history
.brownie/
.caonima
.chezscheme_history
.chia/
.clj-kondo/
.clojure/
.config/clash/
.config/cmus/
.config/gatsby/
.config/gcloud/
.config/hub
.config/nvim/
.deno/
.gnus.el
.gradle/
.history-timer.zsh
.kite/
.lsp/
.macos.sh
.mume/
.neomuttrc
.newsrc
.newsrc.eld
.nix-channels
.nix-defexpr/
.nix-profile
.npmrc
.nvm
.oracle_jre_usage/
.rediscli_history
.v8flags.*
.webhookrelay/
.zhistory
.zinit/
Applications\ (Parallels)/
Google\ Drive
VirtualBox\ VMs
iCloud\ Drive\ (Archive)
local/bin/rust-analyzer
/.roswell/
/.slime/
/quicklisp/
/.SpaceVim.d/
/.SpaceVim/
/.config/nvim
/.config/nvim_back/
/.vim
/.vim_back/
/gmail/
/.vmodules/
/.emacs_anywhere/
/.luarocks/
/gdrive
/.Xauthority
/.serverauth.1290
/.config/tool_state
/.config/settings
/.config/custom_devices.json
/.solargraph/
/.lldb/
/.deta/
/.config/mume/
/.aspell.en.prepl
/.aspell.en.pws
/.gmailctl/
/MEGA/
/.logseq/
/.netrc
/.config/yabai/.nrepl-port
/.config/raycast
/local/bin/.nrepl-port
/.actrc
/.config/bblib/.nrepl-port
/.personal_db/
/tmp/
