[submodule ".config/clojure"]
	path = .config/clojure
	url = https://github.com/yqrashawn/clojure-deps-edn.git
[submodule ".hammerspoon"]
	path = .hammerspoon
	url = git@github.com:agzam/spacehammer.git
