<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.wifi.workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>244C9EFF-C0F9-4FA7-BE86-AB0B62D02317</key>
		<array/>
		<key>57284CBF-8EA2-402B-8348-F34F919BA81A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5F6A6DF-2C1E-4781-B28C-6A480C99C3D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A004C71-5166-4D99-BCE2-C220B5FB7861</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57284CBF-8EA2-402B-8348-F34F919BA81A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69CFC7AB-ACC3-4C43-902F-62F71D42CFEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>244C9EFF-C0F9-4FA7-BE86-AB0B62D02317</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>952476FD-B1DE-4FC9-9E90-766928DCE83B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57284CBF-8EA2-402B-8348-F34F919BA81A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A432B494-0C62-4C7F-B366-07EDCF25C0E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>952476FD-B1DE-4FC9-9E90-766928DCE83B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8AA9FCB-543D-4306-9A7E-98B7101803E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69CFC7AB-ACC3-4C43-902F-62F71D42CFEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4AFBB66-6819-4D41-83EB-ABF92F6C821A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>244C9EFF-C0F9-4FA7-BE86-AB0B62D02317</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDABADAD-283D-48E1-A307-429BCF1B60EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03597F88-2DED-4596-AE88-9C619C9BB857</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8AA9FCB-543D-4306-9A7E-98B7101803E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03597F88-2DED-4596-AE88-9C619C9BB857</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>checks if I can connect to the internet</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>a: wifi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ping -o -t 1 baidu.com &gt; /dev/null
if [[ $? -eq 0 ]]; then
    echo "online"
else
    echo "offline"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>57284CBF-8EA2-402B-8348-F34F919BA81A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>check</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>952476FD-B1DE-4FC9-9E90-766928DCE83B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D5F6A6DF-2C1E-4781-B28C-6A480C99C3D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"check","arg":"check","subtitle":"check wifi"},{"title":"toggle","arg":"toggle","subtitle":"toggle wifi on \/ off"},{"title":"restart","arg":"restart","subtitle":"restart wifi"}]</string>
				<key>keyword</key>
				<string>wifi</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A432B494-0C62-4C7F-B366-07EDCF25C0E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>toggle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E8AA9FCB-543D-4306-9A7E-98B7101803E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set wifi to (do shell script "networksetup -listallhardwareports | grep -A 1 Wi-Fi | tail -n 1 | cut -b 9-12")
	if (offset of "On" in (do shell script "networksetup -getairportpower " &amp; wifi &amp; " ")) &gt; 0 then
		do shell script "networksetup -setairportpower " &amp; wifi &amp; " off"
	else
		do shell script "networksetup -setairportpower " &amp; wifi &amp; " on"
	end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>03597F88-2DED-4596-AE88-9C619C9BB857</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>checkWifi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5A004C71-5166-4D99-BCE2-C220B5FB7861</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>restart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>69CFC7AB-ACC3-4C43-902F-62F71D42CFEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>restarted</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E50D4F28-FAB0-4354-BDF9-414C9986341D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>INTERFACE=$(networksetup -listallhardwareports | grep -A1 "Wi-Fi" | tail -1 | awk '{print $2}')

networksetup -setairportpower $INTERFACE off

networksetup -setairportpower $INTERFACE on</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>244C9EFF-C0F9-4FA7-BE86-AB0B62D02317</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>restartWifi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A4AFBB66-6819-4D41-83EB-ABF92F6C821A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>toggleWifi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>BDABADAD-283D-48E1-A307-429BCF1B60EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03597F88-2DED-4596-AE88-9C619C9BB857</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>244C9EFF-C0F9-4FA7-BE86-AB0B62D02317</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>57284CBF-8EA2-402B-8348-F34F919BA81A</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5A004C71-5166-4D99-BCE2-C220B5FB7861</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>69CFC7AB-ACC3-4C43-902F-62F71D42CFEF</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>952476FD-B1DE-4FC9-9E90-766928DCE83B</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A432B494-0C62-4C7F-B366-07EDCF25C0E5</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A4AFBB66-6819-4D41-83EB-ABF92F6C821A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>BDABADAD-283D-48E1-A307-429BCF1B60EE</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>D5F6A6DF-2C1E-4781-B28C-6A480C99C3D6</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E50D4F28-FAB0-4354-BDF9-414C9986341D</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>E8AA9FCB-543D-4306-9A7E-98B7101803E6</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
