<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joshtronic.flush.alfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>562388F8-001A-448F-BBB7-925C2E6A9E72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C765A864-9CD5-42FF-89EA-B3976C2CE9CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DCB871D9-D569-4BA3-ABAE-4A78EA5B414F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3F11DF0-AAB0-44E0-8600-12644165B053</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E8F1D7FE-1451-4656-BF44-6D696C21A998</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>562388F8-001A-448F-BBB7-925C2E6A9E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F3F11DF0-AAB0-44E0-8600-12644165B053</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0197D2B3-4D34-4613-9D60-52230901A0FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Josh Sherman</string>
	<key>description</key>
	<string>Because nobody likes a floater.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Flush</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e "do shell script \"discoveryutil mdnsflushcache\" with administrator privileges"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>562388F8-001A-448F-BBB7-925C2E6A9E72</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>DNS has been flushed!</string>
				<key>title</key>
				<string>flush</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C765A864-9CD5-42FF-89EA-B3976C2CE9CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flush dns</string>
				<key>text</key>
				<string>Flush DNS...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8F1D7FE-1451-4656-BF44-6D696C21A998</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Memcached has been flushed!</string>
				<key>title</key>
				<string>flush</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0197D2B3-4D34-4613-9D60-52230901A0FE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flush memcached</string>
				<key>text</key>
				<string>Flush Memcached...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DCB871D9-D569-4BA3-ABAE-4A78EA5B414F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo 'flush_all' | nc localhost 11211</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3F11DF0-AAB0-44E0-8600-12644165B053</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0197D2B3-4D34-4613-9D60-52230901A0FE</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>562388F8-001A-448F-BBB7-925C2E6A9E72</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>C765A864-9CD5-42FF-89EA-B3976C2CE9CC</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>DCB871D9-D569-4BA3-ABAE-4A78EA5B414F</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>E8F1D7FE-1451-4656-BF44-6D696C21A998</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>F3F11DF0-AAB0-44E0-8600-12644165B053</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/joshtronic/alfred2-flush-workflow</string>
</dict>
</plist>
