<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>hu.fns.things</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>28A34660-EE6E-4B01-92C9-99DC393E9415</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB2B630E-2FE0-4991-B016-0FA5C31B2839</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32EFDDFE-65B4-4DA6-B8CA-5F31D6CBBD71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>918AA2D8-1CC6-4BE2-ABE3-D2D6C9159CB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33BB8C22-63C2-41A7-92D5-7F935D6D1577</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9202F3A-81A6-4517-AEF4-8D03C732EE8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5837DDD2-0E3D-4DF7-BBE7-5042D8AF8AA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9202F3A-81A6-4517-AEF4-8D03C732EE8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ED645C7-8C1F-4E16-8A23-1DEBA3758438</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5837DDD2-0E3D-4DF7-BBE7-5042D8AF8AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80134C79-FFAA-4C16-9384-D4F67D5E5B7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33BB8C22-63C2-41A7-92D5-7F935D6D1577</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91CE2698-7955-416F-95A3-44254F83F419</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80134C79-FFAA-4C16-9384-D4F67D5E5B7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B90779A-079D-432D-AC7F-C35A04F5C129</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C117274-8C07-4325-981B-126241EE9266</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C78EAB0-E85B-4810-AD3C-DEB71A22CC3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2388BE6-FFC5-436B-A128-10413652FC25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC2700DA-BF54-4602-8BF7-624D4CEE109A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1AB7A9B-60F4-4D87-B2DF-E6809A18600F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2388BE6-FFC5-436B-A128-10413652FC25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9202F3A-81A6-4517-AEF4-8D03C732EE8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9B0D14F-A6F9-4BF4-93EF-BD647408EFB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ED645C7-8C1F-4E16-8A23-1DEBA3758438</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8500725-1C3A-4A43-86F2-FC0A637E33CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>918AA2D8-1CC6-4BE2-ABE3-D2D6C9159CB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1AB7A9B-60F4-4D87-B2DF-E6809A18600F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE864139-641F-41F2-99C7-5F6907183F66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F41F577C-198B-49FE-B47B-BFF049B884DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>918AA2D8-1CC6-4BE2-ABE3-D2D6C9159CB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE864139-641F-41F2-99C7-5F6907183F66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9202F3A-81A6-4517-AEF4-8D03C732EE8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gabor Penoff</string>
	<key>description</key>
	<string>Add task to Things.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Things</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>osascript addTask.scpt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>918AA2D8-1CC6-4BE2-ABE3-D2D6C9159CB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>do</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript viewTask.scpt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Syntax: #tag1 #tag2 =task desc @area or project :task note &gt;20150101</string>
				<key>title</key>
				<string>Add task to Things.app</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8500725-1C3A-4A43-86F2-FC0A637E33CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tbuy</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript viewTask.scpt "{query} @zakupy"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Syntax: #tag1 #tag2 =task desc :task note &gt;20150101</string>
				<key>title</key>
				<string>Add task to Things.app's shopping list (=ZAKUPY)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F41F577C-198B-49FE-B47B-BFF049B884DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "config.scpt" with parameters {"s||{query}||url_folder"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>69D6D43A-5CE4-43E6-9AE6-7C7DF83E619A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>ddo</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript viewTask.scpt "{query} §"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Syntax: #tag1 #tag2 =task desc :task note &gt;20150101</string>
				<key>title</key>
				<string>Add task to Things.app's without note autofill</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>32EFDDFE-65B4-4DA6-B8CA-5F31D6CBBD71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>osascript addTasksFromClipboard.scpt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB2B630E-2FE0-4991-B016-0FA5C31B2839</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>docb</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript viewTasksFromClipboard.scpt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Syntax: #tag1 #tag2 =task desc :task note &gt;20150101</string>
				<key>title</key>
				<string>Add task from clipboard to Things.app's shopping list (=ZAKUPY)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28A34660-EE6E-4B01-92C9-99DC393E9415</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "config.scpt" with parameters {"d||||{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D2388BE6-FFC5-436B-A128-10413652FC25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Things workflow Preferences</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A9202F3A-81A6-4517-AEF4-8D03C732EE8C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>docfg</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>run script "config.scpt" with parameters {"l||{query}||"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Keyword: docfg</string>
				<key>title</key>
				<string>Configure Things workflow</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C78EAB0-E85B-4810-AD3C-DEB71A22CC3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "config.scpt" with parameters {"s||{query}||url_folder"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33BB8C22-63C2-41A7-92D5-7F935D6D1577</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Enter new name</string>
				<key>text</key>
				<string>URL_FOLDER</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>80134C79-FFAA-4C16-9384-D4F67D5E5B7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>url_folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>91CE2698-7955-416F-95A3-44254F83F419</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>date_format</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CC2700DA-BF54-4602-8BF7-624D4CEE109A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Enter new format</string>
				<key>text</key>
				<string>DATE_FORMAT</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F1AB7A9B-60F4-4D87-B2DF-E6809A18600F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "config.scpt" with parameters {"s||{query}||date_format"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE864139-641F-41F2-99C7-5F6907183F66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Enter default target folder for docb action</string>
				<key>text</key>
				<string>CLIPBOARD_FOLDER</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7ED645C7-8C1F-4E16-8A23-1DEBA3758438</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "config.scpt" with parameters {"s||{query}||clipboard_folder"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5837DDD2-0E3D-4DF7-BBE7-5042D8AF8AA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>clipboard_folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D9B0D14F-A6F9-4BF4-93EF-BD647408EFB1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>osascript showURL.scpt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0C117274-8C07-4325-981B-126241EE9266</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>dourl</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript viewTask.scpt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Syntax: #tag1 #tag2 =task desc @area or project :task note &gt;20150101</string>
				<key>title</key>
				<string>Open URLs from Things.app to-do list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9B90779A-079D-432D-AC7F-C35A04F5C129</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>CLI task creator for Things.app

===
Changelog:

1.1.15
* no issues when Google Chrome or Mailplane 3 is not installed.

1.1.14
+ dourl to open all URLs stored in notes from a certain area/project/list

1.1.13
+ If description starts with a comma the workflow will split the comma delimited desc to individual todo items.

1.1.12
* Save URL as note fix.
* Date math fix.

1.1.11
+ Add multiple to do items by specifying it in a comma delimited list.

1.1.10
+ Mailplane 3 front app support.

1.1.9
+ Thanks to Matt@CulturedCode if task note begin with http the URL will be clickable.

1.1.8
- Things app activation removed.

1.1.7
+ Task autofill functionality when Google Chrome is the frontmost application.
* When browser autofill is active a new description will not change area and note fields.
+ A § token will eliminate note field fill (can be useful when you create a new to-do without browser info pickup but the frontmost app is Safari or Google Chrome). The new “ddo” keyword is a shortcut for the noteless todo creation functionality.
 
1.1.6 
* to-do items goes directed to Inbox will go to the existing Inbox folder instead of “Inbox” area.

1.1.5
+ docb command to convert a plain textfile list from clipboard to Things to-do items. Handy when your kids do not want to use your favorite to-do app :)

1.1.4
* Foldername case sensitivity bugfix.

1.1.3
+ due date change: one digit numbers without + or - signs means a simple day increment instead of explicit day number definition (e.g. &gt;0 means today, &gt;1 tomorrow BUT &gt;01 is the first day of current month or &gt;10 is the 10th day of the current month).

1.1.2
+ reset preferences

1.1.1
+ docfg configures default Safari to-do target
+ menu items displays their prefix characters

===
Syntax by example:
Task description #tag1 #tag2 @area or project name :note text &gt;due date

Features:
- you can list as many tags as you wish
- if no such area or project name exists the workflow will create an area on the given name
- Someday and Today group names directs to do to Someday and Today lists
- due date definition order is YYYYMMDD, without separators. You can also use two short forms: MMDD or DD. In case of short form the missing date part will filled from current date.
- due date field is also able to do some basic math: if the first character is + or -, the following number will be used as day/week/month/year count. By default the workflow consider the number as days but you can alter this behavior by adding a “w”, “m” or “y” postfix character.
So for example &gt;+5w adds 5 weeks (35 days) to the current date as due date.
- task description and task note fields are automatically filled if Safari was the frontmost application during workflow activation and also target area will set to “read later” by default. Of course you can override them.</string>
	<key>uidata</key>
	<dict>
		<key>0C117274-8C07-4325-981B-126241EE9266</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>28A34660-EE6E-4B01-92C9-99DC393E9415</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>32EFDDFE-65B4-4DA6-B8CA-5F31D6CBBD71</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>33BB8C22-63C2-41A7-92D5-7F935D6D1577</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>5837DDD2-0E3D-4DF7-BBE7-5042D8AF8AA6</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>69D6D43A-5CE4-43E6-9AE6-7C7DF83E619A</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7ED645C7-8C1F-4E16-8A23-1DEBA3758438</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>80134C79-FFAA-4C16-9384-D4F67D5E5B7D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>918AA2D8-1CC6-4BE2-ABE3-D2D6C9159CB0</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>91CE2698-7955-416F-95A3-44254F83F419</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>9B90779A-079D-432D-AC7F-C35A04F5C129</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>9C78EAB0-E85B-4810-AD3C-DEB71A22CC3D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>A9202F3A-81A6-4517-AEF4-8D03C732EE8C</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>CB2B630E-2FE0-4991-B016-0FA5C31B2839</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>CC2700DA-BF54-4602-8BF7-624D4CEE109A</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>D2388BE6-FFC5-436B-A128-10413652FC25</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>D9B0D14F-A6F9-4BF4-93EF-BD647408EFB1</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>E8500725-1C3A-4A43-86F2-FC0A637E33CB</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F1AB7A9B-60F4-4D87-B2DF-E6809A18600F</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>F41F577C-198B-49FE-B47B-BFF049B884DE</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>FE864139-641F-41F2-99C7-5F6907183F66</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>770</real>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>http://fns.csokolade.hu</string>
</dict>
</plist>
