<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.osingasoftware.mongdb-starter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>362A969F-042F-4FAE-96F5-D2C41DD7F65A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F55D372-74AC-4147-9BB6-DCE2F997B902</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>690EA147-0804-4179-8D83-8E92B550E0B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C56C39A4-202C-4545-927D-8752690A7408</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E86934F-CCEE-4F6B-8E49-115125922052</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA8C37E8-25FE-4468-832A-9B08B3854C68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>887A5B23-A6E8-47FC-BCF4-09569787C41A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E86934F-CCEE-4F6B-8E49-115125922052</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C56C39A4-202C-4545-927D-8752690A7408</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C745E7F-30EF-43F0-B4FA-1C7B77686248</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3C50897-0DA0-4057-BA34-A4D848BA5AC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>362A969F-042F-4FAE-96F5-D2C41DD7F65A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Osinga Software</string>
	<key>description</key>
	<string>This workflow starts or stops the MongoDb server</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>MongoDb Starter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>mongodd</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E86934F-CCEE-4F6B-8E49-115125922052</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mongo start</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Starts the MongoDb server</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>887A5B23-A6E8-47FC-BCF4-09569787C41A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Started the MongoDb server</string>
				<key>title</key>
				<string>MongoDb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FA8C37E8-25FE-4468-832A-9B08B3854C68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/mongo --eval "db.shutdownServer();" admin; exit;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>362A969F-042F-4FAE-96F5-D2C41DD7F65A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Stopped the MongoDb server</string>
				<key>title</key>
				<string>MongoDb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8F55D372-74AC-4147-9BB6-DCE2F997B902</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mongo stop</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Stops the MongoDb server</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3C50897-0DA0-4057-BA34-A4D848BA5AC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [[ $(ps aux | grep mongod | grep -vc grep)  &gt; 0 ]] ; then echo "Running"; else echo "Not running" ; fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C56C39A4-202C-4545-927D-8752690A7408</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>MongoDb status</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5C745E7F-30EF-43F0-B4FA-1C7B77686248</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mongo status</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Shows MongoDb status</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>690EA147-0804-4179-8D83-8E92B550E0B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>362A969F-042F-4FAE-96F5-D2C41DD7F65A</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>5C745E7F-30EF-43F0-B4FA-1C7B77686248</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>690EA147-0804-4179-8D83-8E92B550E0B6</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>7E86934F-CCEE-4F6B-8E49-115125922052</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>887A5B23-A6E8-47FC-BCF4-09569787C41A</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>8F55D372-74AC-4147-9BB6-DCE2F997B902</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>C56C39A4-202C-4545-927D-8752690A7408</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>D3C50897-0DA0-4057-BA34-A4D848BA5AC0</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>FA8C37E8-25FE-4468-832A-9B08B3854C68</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.osingasoftware.nl</string>
</dict>
</plist>
