<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.styaing.on.top</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>113FD845-7F2C-4B8A-B858-066B3C151305</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83029F17-1EF3-43E5-9816-5E6DFAC2142B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>62B611AF-CEBB-4C23-AE4A-9CD3727ED696</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26D35F3B-74FB-4851-ADFF-77E6356A8803</key>
		<array/>
		<key>62B611AF-CEBB-4C23-AE4A-9CD3727ED696</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DA130DB-A513-49F1-A8F2-D92FE334FC00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83029F17-1EF3-43E5-9816-5E6DFAC2142B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26D35F3B-74FB-4851-ADFF-77E6356A8803</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97B757D6-3579-47E3-8E53-D39D05180961</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>113FD845-7F2C-4B8A-B858-066B3C151305</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E39603B-9B1E-414D-A417-F2EC17078964</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>nikivi</string>
	<key>description</key>
	<string>for staying on top of things</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>a: multi website presets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>multiWebsiteListFilter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>97B757D6-3579-47E3-8E53-D39D05180961</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"2de10c332abc08d9e44de3ac5fa8061303ef1075.png","title":"8:00 - 8:30 - main news","arg":"main_news","subtitle":"hckrnews, economist, github trending"},{"imagefile":"5a4f024225b7c77215e235eaa0a0ee83ce71641b.png","title":"14:00 - 14:30 - reddit","arg":"reddit","subtitle":"front + multis + all"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>113FD845-7F2C-4B8A-B858-066B3C151305</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/zsh
 
# URLs to open
read -r -d '' URLS &lt;&lt;'EOS'
http://www.economist.com/
http://hckrnews.com/
EOS
 
# Split string into array
URLS=("${(@f)URLS}")
 
for u in $URLS; do
  open "$u"
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26D35F3B-74FB-4851-ADFF-77E6356A8803</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>main_news</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>83029F17-1EF3-43E5-9816-5E6DFAC2142B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>reddit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>62B611AF-CEBB-4C23-AE4A-9CD3727ED696</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/zsh
 
# URLs to open
read -r -d '' URLS &lt;&lt;'EOS'
http://www.reddit.com/
https://www.reddit.com/r/all/
EOS
 
# Split string into array
URLS=("${(@f)URLS}")
 
for u in $URLS; do
  open "$u"
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5DA130DB-A513-49F1-A8F2-D92FE334FC00</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
if (hoursNow &gt; 8) and (hoursNow &lt; 9) then
	-- do your stuff
end if&lt;/blockquote&gt;
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9E39603B-9B1E-414D-A417-F2EC17078964</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>113FD845-7F2C-4B8A-B858-066B3C151305</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>26D35F3B-74FB-4851-ADFF-77E6356A8803</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5DA130DB-A513-49F1-A8F2-D92FE334FC00</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>62B611AF-CEBB-4C23-AE4A-9CD3727ED696</key>
		<dict>
			<key>note</key>
			<string>reddit</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>83029F17-1EF3-43E5-9816-5E6DFAC2142B</key>
		<dict>
			<key>note</key>
			<string>main_news</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>97B757D6-3579-47E3-8E53-D39D05180961</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>9E39603B-9B1E-414D-A417-F2EC17078964</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev</string>
</dict>
</plist>
