<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fi.matiaskorhonen.alfred-bullet</string>
	<key>connections</key>
	<dict>
		<key>4A6EE525-8677-4382-952E-44A59D509D80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12BB6665-4971-405D-9D96-B295FEDDBCB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>603050AB-4727-4F86-A963-ABCEE1110DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68EB454E-3E55-4D62-8D7A-03181082F648</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matias Korhonen</string>
	<key>description</key>
	<string>Send links or text to devices via PushBullet</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredBullet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>push</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading devices…</string>
				<key>script</key>
				<string>./alfred-bullet -action list {query}</string>
				<key>subtext</key>
				<string>Push to your devices</string>
				<key>title</key>
				<string>Pushbullet</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>603050AB-4727-4F86-A963-ABCEE1110DA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./alfred-bullet -action push {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>68EB454E-3E55-4D62-8D7A-03181082F648</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./alfred-bullet -action settoken -token {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>12BB6665-4971-405D-9D96-B295FEDDBCB8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>set-push-token</string>
				<key>subtext</key>
				<string>Get it at https://www.pushbullet.com/account</string>
				<key>text</key>
				<string>Save your Pushbullet token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A6EE525-8677-4382-952E-44A59D509D80</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># AlfredBullet

An Alfred 2 Workflow for [Pushbullet][pb]. Written in Go.

[pb]: https://www.pushbullet.com/

## Install

Just install the latest `.alfredworkflow` file from the [GitHub releases][releases] page.

[releases]: https://github.com/matiaskorhonen/alfred-bullet/releases

## Usage

1. Install the workflow (see above)

2. Get your API token from your [Pushbullet account page][account].

3. Set it with the `set-push-token` keyword:

  ![set-push-token](images/set-token.png)

4. Enjoy pushing to your devices:

  ![AlfredBullet in action](images/AlfredBullet.gif)

  There is only one keyword/command:

  ```
  push TEXT
  ```

  Where `TEXT` can be a URL or any arbitrary text.

[account]: https://www.pushbullet.com/account

## Build from source

Unless you're planning on working on the source code, you probably down't need to build this from the source.

However, if you do want to build it, this is how:

1. Ensure that you've got a working Go work environment (see [How to Write Go Code][go-how]) with Go 1.4 or above.

2. Clone the repository into your working directory

  ```sh
  git clone git@github.com:matiaskorhonen/alfred-bullet.git \
    $GOPATH/src/github.com/matiaskorhonen/alfred-bullet

  cd $GOPATH/src/github.com/matiaskorhonen/alfred-bullet
  ```

3. Make the Alfred extension with `make workflow`

4. Install the workflow from the `build` directory

[go-how]: http://golang.org/doc/code.html

## License and Copyright

Copyright © 2015 Matias Korhonen.

Licensed under the MIT License, see the [LICENSE.txt](LICENSE.txt) file for details.
</string>
	<key>uidata</key>
	<dict>
		<key>12BB6665-4971-405D-9D96-B295FEDDBCB8</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4A6EE525-8677-4382-952E-44A59D509D80</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>603050AB-4727-4F86-A963-ABCEE1110DA2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>68EB454E-3E55-4D62-8D7A-03181082F648</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/matiaskorhonen/alfred-bullet</string>
</dict>
</plist>
