type: "MARKDOWN_NOTE"
folder: "3201d7ac7a99a8fff5a9"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: []
isStarred: false
createdAt: "2016-10-31T10:16:47.168Z"
updatedAt: "2016-10-31T10:16:47.168Z"
