type: "SNIPPET_NOTE"
folder: "3201d7ac7a99a8fff5a9"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
createdAt: "2016-09-30T14:16:34.358Z"
updatedAt: "2016-09-30T14:29:39.507Z"
