
snippet vr "var require" b
var ${1:variable name} = require('${2:module name}')${3:;}
endsnippet

snippet req "require" i
require('${1:module name}')${2:;}
endsnippet

snippet log1 "console.log('')" b
console.log('${1:what to log}')${2:;}
endsnippet

snippet log2 "console.log()" b
console.log(${1:what to log})${2:;}
endsnippet

snippet ca "${}" i
&{${1:variable name}}
endsnippet
