<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.rjiang.searchbaidu</string>
	<key>connections</key>
	<dict>
		<key>D25A7C71-139A-4A4B-842F-8DDE1F325EB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A084E342-A0F1-4DAF-85C7-A67A3442BFFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rocco Jiang</string>
	<key>description</key>
	<string>For those who live in China...</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Baidu</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.baidu.com/s?wd={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A084E342-A0F1-4DAF-85C7-A67A3442BFFF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bd</string>
				<key>text</key>
				<string>Search Baidu for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D25A7C71-139A-4A4B-842F-8DDE1F325EB0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A084E342-A0F1-4DAF-85C7-A67A3442BFFF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D25A7C71-139A-4A4B-842F-8DDE1F325EB0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
