<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>844EC7BE-F798-4B44-BAB5-579E280E1E02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4D487C6-34D9-4207-953D-14D22E9590EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4D487C6-34D9-4207-953D-14D22E9590EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A9562D7-2517-4128-9AD0-94F8B59A47B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nikivi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>a: search for content</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTextContent</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Mobile Documents/W6L39UYL6Z~com~mindnode~MindNode/Documents</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>types</key>
				<array>
					<string>com.mindnode.mindnode.mindmap</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>F4D487C6-34D9-4207-953D-14D22E9590EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>searchMindNodeContent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>844EC7BE-F798-4B44-BAB5-579E280E1E02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0A9562D7-2517-4128-9AD0-94F8B59A47B0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A9562D7-2517-4128-9AD0-94F8B59A47B0</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>844EC7BE-F798-4B44-BAB5-579E280E1E02</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>F4D487C6-34D9-4207-953D-14D22E9590EB</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev</string>
</dict>
</plist>
