<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>066F59AA-8A29-4FB2-BDD5-AF770F3EB75A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yyts</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search {query} from 人人影视</string>
			<key>url</key>
			<string>http://www.zimuzu.tv/search/index?keyword={query}&amp;search_type=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>22193FF7-D3BF-457D-B0F6-D28F415DE8E7</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Search {query} in npm</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2547882C-F13B-4747-96C3-E7F932A16220</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pianyuan</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search 片源网 for {query}</string>
			<key>url</key>
			<string>http://pianyuan.net/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2BF64505-6CD5-4681-BECC-81723FC7C9AB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wangpan</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search 网盘搜索 for '{query}'</string>
			<key>url</key>
			<string>http://www.wangpansou.cn/s.php?wp=0&amp;ty=gn&amp;op=gn&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2F1300D8-1A59-47BD-B114-74892F6ECF81</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>w3</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Search W3School for {query}</string>
			<key>url</key>
			<string>https://www.google.com/search?sitesearch=w3school.com.cn&amp;as_q={query}&amp;gws_rd=ssl</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>37B22197-7D2A-4EF9-8A58-3D14FCA2E651</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npms</string>
			<key>text</key>
			<string>Search {query} in npms</string>
			<key>url</key>
			<string>https://npms.io/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>44CBD001-AE30-4601-8AA5-B9BFAAB705CA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>acfun</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Acfun for '{query}'</string>
			<key>url</key>
			<string>http://www.acfun.tv/search/#query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>73E54618-7286-46C3-8B80-D6B73EA6F7B7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pacon</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Package Control for {query}</string>
			<key>url</key>
			<string>https://packagecontrol.io/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>84231A78-3CCC-4268-B8C2-4DDA286E522F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bilibili</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search bilibili for '{query}'</string>
			<key>url</key>
			<string>http://www.bilibili.com/search?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8CB1040E-C966-4A92-BF40-4AB64FFEE1C1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zimu</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Zimuku for {query}</string>
			<key>url</key>
			<string>http://www.zimuku.net/search?ad=1&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A8F13F1A-D1F9-4568-A1F9-9AAEFADAF888</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>adsk</string>
			<key>text</key>
			<string>Search {query} in AutoDesk Community</string>
			<key>url</key>
			<string>http://forums.autodesk.com/t5/forums/searchpage/tab/message?filter=location&amp;location=forum-board%3A95&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D06EAE08-6F5D-4BB9-8D9D-3C8375A0B22D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>git</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search {query} in Github</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D292AE9B-65AA-42C1-8284-E74F5B4A70A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ape</string>
			<key>text</key>
			<string>Search {query} on 51ape</string>
			<key>url</key>
			<string>https://www.google.com/search?q=site%3A+51ape.com+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DCAB13AF-71FB-40F7-A47D-6ED2E68B3017</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Search {query} In npms.io</string>
			<key>url</key>
			<string>https://npms.io/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E6A03F03-FFB2-4CC2-A58F-B1E58CCA23B1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>appked</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Appked</string>
			<key>url</key>
			<string>https://cse.google.com/cse?cx=partner-pub-0492687750134555%3A0046060402&amp;ie=UTF-8&amp;q={query}#gsc.tab=0&amp;gsc.q={query}&amp;gsc.page=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E97C91FE-60E9-4F3A-8F5D-80B9012D5B2A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>appkedd</string>
			<key>text</key>
			<string>Search Xclient for {query}</string>
			<key>url</key>
			<string>http://xclient.info/search/s/{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
