<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sztoltz.editwith</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1F50DF74-E5B1-4E13-B180-1DF3C0DF36D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7F04E75-DBB5-48C6-8366-6B4E96D715E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F067006-BA5A-4FFD-ADA3-16FED33F1EE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0253F631-4DDD-46AA-9C40-3B53F466BDBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>701FD08F-0535-430E-BD06-20699C08919F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>823B00F3-B8D5-47CB-B1C9-7499ADC19D07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>813C27F8-D42E-44E4-96D0-2EB82341A59A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0253F631-4DDD-46AA-9C40-3B53F466BDBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>823B00F3-B8D5-47CB-B1C9-7499ADC19D07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5A92717-7ED0-45E9-85A8-EC6077A137A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87E58852-DC0F-4A38-A7A1-B0475AFF92CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>823B00F3-B8D5-47CB-B1C9-7499ADC19D07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A322DA40-B93C-4839-80D6-4B0531AC720C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F75B7F3-492B-4EA4-B1F0-1843A40483AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBB8EC96-A482-4256-A64D-C269AACDC799</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7F04E75-DBB5-48C6-8366-6B4E96D715E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1B6528A-AF09-428A-8D33-3341896360CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0253F631-4DDD-46AA-9C40-3B53F466BDBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D284861F-2224-4E14-88DF-33C54FC69426</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>823B00F3-B8D5-47CB-B1C9-7499ADC19D07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7C7B2CA-5906-46F7-8788-2E1F5B006014</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>823B00F3-B8D5-47CB-B1C9-7499ADC19D07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Alberto Sztoltz</string>
	<key>description</key>
	<string>Select text in one app, edit in another then paste it back | Version 3.0</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Edit with...</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>editwith</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/ew_filter.scpt")) with parameters {"{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select the Last Used Text Editor</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>87E58852-DC0F-4A38-A7A1-B0475AFF92CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F5A92717-7ED0-45E9-85A8-EC6077A137A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/ew_copy.scpt")) with parameters {"{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>823B00F3-B8D5-47CB-B1C9-7499ADC19D07</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Copy</string>
				<key>hotkey</key>
				<integer>97</integer>
				<key>hotmod</key>
				<integer>9043968</integer>
				<key>hotstring</key>
				<string>F6</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>701FD08F-0535-430E-BD06-20699C08919F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>editwith</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/Applications</string>
					<string>/usr/local/Cellar/emacs-plus/25.1</string>
					<string>~/Applications</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select a Text Editor</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>public.symlink</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>E7C7B2CA-5906-46F7-8788-2E1F5B006014</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>editInEmacs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D284861F-2224-4E14-88DF-33C54FC69426</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/ew_paste.scpt")) with parameters {"{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0253F631-4DDD-46AA-9C40-3B53F466BDBD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Paste Back</string>
				<key>hotkey</key>
				<integer>98</integer>
				<key>hotmod</key>
				<integer>9043968</integer>
				<key>hotstring</key>
				<string>F7</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>813C27F8-D42E-44E4-96D0-2EB82341A59A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pasteBack</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D1B6528A-AF09-428A-8D33-3341896360CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pasteback</string>
				<key>subtext</key>
				<string>Copy the New Text Back to the Previous Editor</string>
				<key>text</key>
				<string>Paste Back</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5F067006-BA5A-4FFD-ADA3-16FED33F1EE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/ew_bbcode.scpt")) with parameters {"{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7F04E75-DBB5-48C6-8366-6B4E96D715E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Paste BBCode Back</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BBB8EC96-A482-4256-A64D-C269AACDC799</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pastebbcode</string>
				<key>subtext</key>
				<string>Convert Markdown to BBCode and Copy to the Previous Editor</string>
				<key>text</key>
				<string>Paste BBCode Back</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F50DF74-E5B1-4E13-B180-1DF3C0DF36D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>editwith?</string>
				<key>subtext</key>
				<string>How to Use and Markdown Syntax Guide</string>
				<key>text</key>
				<string>Help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A322DA40-B93C-4839-80D6-4B0531AC720C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>do shell script "open " &amp; (quoted form of (POSIX path of ((do shell script "pwd") &amp; "/help.pdf")))</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2F75B7F3-492B-4EA4-B1F0-1843A40483AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>q_workflow library by Ursan Razvan</string>
	<key>uidata</key>
	<dict>
		<key>0253F631-4DDD-46AA-9C40-3B53F466BDBD</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>1F50DF74-E5B1-4E13-B180-1DF3C0DF36D4</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>2F75B7F3-492B-4EA4-B1F0-1843A40483AA</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>5F067006-BA5A-4FFD-ADA3-16FED33F1EE2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>701FD08F-0535-430E-BD06-20699C08919F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>813C27F8-D42E-44E4-96D0-2EB82341A59A</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>823B00F3-B8D5-47CB-B1C9-7499ADC19D07</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>87E58852-DC0F-4A38-A7A1-B0475AFF92CD</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A322DA40-B93C-4839-80D6-4B0531AC720C</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>B7F04E75-DBB5-48C6-8366-6B4E96D715E1</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>BBB8EC96-A482-4256-A64D-C269AACDC799</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>D1B6528A-AF09-428A-8D33-3341896360CF</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>D284861F-2224-4E14-88DF-33C54FC69426</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>E7C7B2CA-5906-46F7-8788-2E1F5B006014</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>F5A92717-7ED0-45E9-85A8-EC6077A137A1</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
