<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.farrell.hash.alfredworkflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>16A6B573-DAE2-4E0B-BA18-6633A9950C4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80A4F74E-11EA-4644-A638-BE32A216E4EB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste to front most App</string>
			</dict>
		</array>
		<key>807BFA1D-EAEC-4DB7-B04E-6371C601A9E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80A4F74E-11EA-4644-A638-BE32A216E4EB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste to front most App</string>
			</dict>
		</array>
		<key>8C2BF096-BF67-4889-992C-3019AB4E8DA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80A4F74E-11EA-4644-A638-BE32A216E4EB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste to front most App</string>
			</dict>
		</array>
		<key>96A609DD-13FB-44C7-9ADB-F3BC94017A65</key>
		<array/>
		<key>E1BC1758-BABF-4FF3-92E0-D14711C4CAEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80A4F74E-11EA-4644-A638-BE32A216E4EB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste to front most App</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>will Farrell (@willfarrell)</string>
	<key>description</key>
	<string>Hashing strings</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hash (v1.3)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>96A609DD-13FB-44C7-9ADB-F3BC94017A65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hash</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Hashing {query}</string>
				<key>script</key>
				<string>$query = &lt;&lt;&lt;EOD
{query}
EOD;
require_once('hash.php');</string>
				<key>subtext</key>
				<string>hash(algo, string)</string>
				<key>title</key>
				<string>Hash a string</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>807BFA1D-EAEC-4DB7-B04E-6371C601A9E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>md5</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Hashing {query}</string>
				<key>script</key>
				<string>$query = &lt;&lt;&lt;EOD
md5 {query}
EOD;
require_once('hash.php');</string>
				<key>subtext</key>
				<string>hash(algo, string)</string>
				<key>title</key>
				<string>Hash a string</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>16A6B573-DAE2-4E0B-BA18-6633A9950C4E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>80A4F74E-11EA-4644-A638-BE32A216E4EB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sha1</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Hashing {query}</string>
				<key>script</key>
				<string>$query = &lt;&lt;&lt;EOD
sha1 {query}
EOD;
require_once('hash.php');</string>
				<key>subtext</key>
				<string>hash(algo, string)</string>
				<key>title</key>
				<string>Hash a string</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1BC1758-BABF-4FF3-92E0-D14711C4CAEF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sha512</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Hashing {query}</string>
				<key>script</key>
				<string>$query = &lt;&lt;&lt;EOD
sha512 {query}
EOD;
require_once('hash.php');</string>
				<key>subtext</key>
				<string>hash(algo, string)</string>
				<key>title</key>
				<string>Hash a string</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C2BF096-BF67-4889-992C-3019AB4E8DA5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16A6B573-DAE2-4E0B-BA18-6633A9950C4E</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>72E910A8-F09C-4863-9F54-F60E273C59AB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>807BFA1D-EAEC-4DB7-B04E-6371C601A9E7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>80A4F74E-11EA-4644-A638-BE32A216E4EB</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>8C2BF096-BF67-4889-992C-3019AB4E8DA5</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>96A609DD-13FB-44C7-9ADB-F3BC94017A65</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E1BC1758-BABF-4FF3-92E0-D14711C4CAEF</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/willfarrell</string>
</dict>
</plist>
