<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.hchen.volumecontrol</string>
	<key>connections</key>
	<dict>
		<key>54EF514D-81A1-4E37-B5A5-5E0D14440951</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20AACB2E-9AB1-49BF-893F-DFB6D541A41D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>896E8399-ABE8-4960-B2DD-7492DCB6FBDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20AACB2E-9AB1-49BF-893F-DFB6D541A41D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A9893DB2-97B2-4928-9D1C-93F63E1F3006</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>896E8399-ABE8-4960-B2DD-7492DCB6FBDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54EF514D-81A1-4E37-B5A5-5E0D14440951</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hao Chen</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Volume Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python process_operation.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>20AACB2E-9AB1-49BF-893F-DFB6D541A41D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>896E8399-ABE8-4960-B2DD-7492DCB6FBDD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vol</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python volume_control.py {query}</string>
				<key>title</key>
				<string>Volume Control</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A9893DB2-97B2-4928-9D1C-93F63E1F3006</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>q = "{query}"

if q.startswith('up'):
	qs = q.split()
	print("up " + str(2 * int(qs[1]))),
elif q.startswith('down'):
	qs = q.split()
	print("down " + str(2 * int(qs[1]))),
else:
	print(q),</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54EF514D-81A1-4E37-B5A5-5E0D14440951</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20AACB2E-9AB1-49BF-893F-DFB6D541A41D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>54EF514D-81A1-4E37-B5A5-5E0D14440951</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>896E8399-ABE8-4960-B2DD-7492DCB6FBDD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A9893DB2-97B2-4928-9D1C-93F63E1F3006</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
