<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.targumanu.readinglist</string>
	<key>connections</key>
	<dict>
		<key>0769EB86-D189-4202-98F3-BC622CC5CC41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>488C3C5D-0C5F-4764-B247-108986E20189</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0F4967FB-8D24-4E2C-B09B-2FB3F9175D2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6927E70-0435-429C-8DBD-E6CAB44CEF9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>488C3C5D-0C5F-4764-B247-108986E20189</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5397D80-5CB5-44B6-B461-8FB012C022B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>718D3286-AFA3-4CDD-9FA1-E5D0E6C1F107</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add without checking for validity</string>
			</dict>
		</array>
		<key>B3B54402-75B2-4FA3-987D-3A0B4B21C29B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDED93E1-2DE0-4B5A-95CE-53BABF796AEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC2E2BA6-4C40-49F2-914F-0FF146B34C5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B6BEAA6-E995-4E22-9081-3888777A2759</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>19364154-3F87-4D3E-BE2D-47661018AE66</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F974A2CD-CEE6-4053-8A2E-3E2C54AF45DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>488C3C5D-0C5F-4764-B247-108986E20189</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Matochkin</string>
	<key>description</key>
	<string>Search and open items from Safari reading list (1.4)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reading List</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E6927E70-0435-429C-8DBD-E6CAB44CEF9D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rl</string>
				<key>runningsubtext</key>
				<string>Loading reading list...</string>
				<key>script</key>
				<string>./ReadingListSearch "{query}"</string>
				<key>subtext</key>
				<string>Search and open items from Safari reading list</string>
				<key>title</key>
				<string>Reading List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0F4967FB-8D24-4E2C-B09B-2FB3F9175D2D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BDED93E1-2DE0-4B5A-95CE-53BABF796AEA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rlu</string>
				<key>runningsubtext</key>
				<string>Loading reading list...</string>
				<key>script</key>
				<string>./ReadingListSearch --unread "{query}"</string>
				<key>subtext</key>
				<string>Search and open unread items from Safari reading list</string>
				<key>title</key>
				<string>Unread Reading List items</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B3B54402-75B2-4FA3-987D-3A0B4B21C29B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./ReadingListSearch --add "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E5397D80-5CB5-44B6-B461-8FB012C022B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F974A2CD-CEE6-4053-8A2E-3E2C54AF45DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rladd</string>
				<key>runningsubtext</key>
				<string>Working...</string>
				<key>script</key>
				<string>./ReadingListSearch --newitem "{query}"</string>
				<key>subtext</key>
				<string>Add articles to Safari's reading list</string>
				<key>title</key>
				<string>Add to Reading List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>488C3C5D-0C5F-4764-B247-108986E20189</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./ReadingListSearch --addunsafely "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>718D3286-AFA3-4CDD-9FA1-E5D0E6C1F107</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0769EB86-D189-4202-98F3-BC622CC5CC41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./ReadingListSearch --openunread</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B6BEAA6-E995-4E22-9081-3888777A2759</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rlall</string>
				<key>runningsubtext</key>
				<string>Working...</string>
				<key>script</key>
				<string>./ReadingListSearch --all</string>
				<key>subtext</key>
				<string>Open all items from your Safari reading list</string>
				<key>title</key>
				<string>All reading list items</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DC2E2BA6-4C40-49F2-914F-0FF146B34C5A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./ReadingListSearch --openall</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19364154-3F87-4D3E-BE2D-47661018AE66</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0769EB86-D189-4202-98F3-BC622CC5CC41</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>0F4967FB-8D24-4E2C-B09B-2FB3F9175D2D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>19364154-3F87-4D3E-BE2D-47661018AE66</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>1B6BEAA6-E995-4E22-9081-3888777A2759</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>488C3C5D-0C5F-4764-B247-108986E20189</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>718D3286-AFA3-4CDD-9FA1-E5D0E6C1F107</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B3B54402-75B2-4FA3-987D-3A0B4B21C29B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BDED93E1-2DE0-4B5A-95CE-53BABF796AEA</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DC2E2BA6-4C40-49F2-914F-0FF146B34C5A</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E5397D80-5CB5-44B6-B461-8FB012C022B0</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E6927E70-0435-429C-8DBD-E6CAB44CEF9D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F974A2CD-CEE6-4053-8A2E-3E2C54AF45DE</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
