<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>yqrashawn.workflow.launcher</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>020609C1-7E41-44B0-8F4F-B8EFFB710295</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9FA7B3A-2D11-4890-BD31-057F47EFAB2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>04010023-C6DE-45F3-9D13-0D4D560C548B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0286D311-40DF-4C01-A7D5-93D0DE04A3E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>04753C94-04B3-4028-B26C-E13EF8088588</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB845A69-1512-4EDF-90B0-618270279AC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A23B20F-7A96-4C12-93D4-2EF48801DC2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB7B3AC3-203B-4E3C-B3B2-30CB6C7CEE60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C23CA3C-E894-434B-AAA9-01AA8CC0BB6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8E807B3-3A5C-4EA0-B110-8E4842BF4EAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>431473C8-4540-4D24-A30B-EBD9339D77DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F51AFF16-38A4-4E7D-ABC7-7F31B762FE32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F0F32D7-3B7D-4498-95B8-2985508DAC98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0B7AE7E-89B5-475E-9452-44857929B6B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FF3A24F-34EA-466A-9964-A51E9E6D8172</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97AFFF32-9C1B-443A-9C68-881C95350455</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CE83DCF-2FFE-4FF3-B160-EAFC649802E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFCB0DF9-AEF2-410C-AA9E-1B6EFABD4CB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B76C41A-502D-4615-AB1B-6723287E1D65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13857CFC-CFBC-465C-A071-434D36FDCB1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9F1B93B-2FF6-44AE-8597-B3615B5D0B77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43829AB7-60A0-4B13-87CC-C7B741A2CC7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB100979-DFC9-4B6D-8F8A-1D7965D553DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>859938B6-C0BE-4B39-B267-A1C82D797277</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D410359C-6F8C-4BE5-AF64-C2389482AD28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81295729-FF87-4AB9-84BE-7F9022B3A831</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED3263AE-5C28-4A64-AD89-1E9B424C1EF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D396DD02-24B0-4375-B7C8-BC2F408CD29B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2C8A42A-179E-4BE3-B56C-C9C9C6064B7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98C09B68-644B-4FA0-933B-310774E728D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>yqrashawn</string>
	<key>description</key>
	<string>Chrome</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F51AFF16-38A4-4E7D-ABC7-7F31B762FE32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchFinder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>431473C8-4540-4D24-A30B-EBD9339D77DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchChrome</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7CE83DCF-2FFE-4FF3-B160-EAFC649802E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>DFCB0DF9-AEF2-410C-AA9E-1B6EFABD4CB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchEmacs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9B76C41A-502D-4615-AB1B-6723287E1D65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Emacs.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>13857CFC-CFBC-465C-A071-434D36FDCB1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm3.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A9FA7B3A-2D11-4890-BD31-057F47EFAB2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchIterm</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>020609C1-7E41-44B0-8F4F-B8EFFB710295</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Reeder.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>43829AB7-60A0-4B13-87CC-C7B741A2CC7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchReeder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A9F1B93B-2FF6-44AE-8597-B3615B5D0B77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Mail.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>FB7B3AC3-203B-4E3C-B3B2-30CB6C7CEE60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchMail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1A23B20F-7A96-4C12-93D4-2EF48801DC2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchFantastical</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>6FF3A24F-34EA-466A-9964-A51E9E6D8172</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Fantastical 2.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>97AFFF32-9C1B-443A-9C68-881C95350455</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchBetterTouchTool</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>04010023-C6DE-45F3-9D13-0D4D560C548B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/BetterTouchTool.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0286D311-40DF-4C01-A7D5-93D0DE04A3E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchBearyChat</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>04753C94-04B3-4028-B26C-E13EF8088588</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/BearyChat.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>AB845A69-1512-4EDF-90B0-618270279AC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Safari.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>859938B6-C0BE-4B39-B267-A1C82D797277</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchSafari</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AB100979-DFC9-4B6D-8F8A-1D7965D553DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchPDFExpert</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3C23CA3C-E894-434B-AAA9-01AA8CC0BB6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/PDF Expert.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B8E807B3-3A5C-4EA0-B110-8E4842BF4EAC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Library/PreferencePanes/Hazel.prefPane</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>81295729-FF87-4AB9-84BE-7F9022B3A831</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchHazel</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D410359C-6F8C-4BE5-AF64-C2389482AD28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Alfred.alfredpreferences</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>98C09B68-644B-4FA0-933B-310774E728D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchAlfredPreferences</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F2C8A42A-179E-4BE3-B56C-C9C9C6064B7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Tower.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>E0B7AE7E-89B5-475E-9452-44857929B6B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchTower</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5F0F32D7-3B7D-4498-95B8-2985508DAC98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>launchWeChat</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>ED3263AE-5C28-4A64-AD89-1E9B424C1EF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WeChat.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D396DD02-24B0-4375-B7C8-BC2F408CD29B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>020609C1-7E41-44B0-8F4F-B8EFFB710295</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>0286D311-40DF-4C01-A7D5-93D0DE04A3E9</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>04010023-C6DE-45F3-9D13-0D4D560C548B</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>04753C94-04B3-4028-B26C-E13EF8088588</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>13857CFC-CFBC-465C-A071-434D36FDCB1A</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>1A23B20F-7A96-4C12-93D4-2EF48801DC2C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>3C23CA3C-E894-434B-AAA9-01AA8CC0BB6F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>431473C8-4540-4D24-A30B-EBD9339D77DB</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>43829AB7-60A0-4B13-87CC-C7B741A2CC7C</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>5F0F32D7-3B7D-4498-95B8-2985508DAC98</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>6FF3A24F-34EA-466A-9964-A51E9E6D8172</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>7CE83DCF-2FFE-4FF3-B160-EAFC649802E3</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>81295729-FF87-4AB9-84BE-7F9022B3A831</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>859938B6-C0BE-4B39-B267-A1C82D797277</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>97AFFF32-9C1B-443A-9C68-881C95350455</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>98C09B68-644B-4FA0-933B-310774E728D3</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>9B76C41A-502D-4615-AB1B-6723287E1D65</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>A9F1B93B-2FF6-44AE-8597-B3615B5D0B77</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>A9FA7B3A-2D11-4890-BD31-057F47EFAB2E</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>AB100979-DFC9-4B6D-8F8A-1D7965D553DA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>AB845A69-1512-4EDF-90B0-618270279AC3</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>B8E807B3-3A5C-4EA0-B110-8E4842BF4EAC</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D396DD02-24B0-4375-B7C8-BC2F408CD29B</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>D410359C-6F8C-4BE5-AF64-C2389482AD28</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>DFCB0DF9-AEF2-410C-AA9E-1B6EFABD4CB3</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>E0B7AE7E-89B5-475E-9452-44857929B6B1</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>ED3263AE-5C28-4A64-AD89-1E9B424C1EF5</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>F2C8A42A-179E-4BE3-B56C-C9C9C6064B7C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>F51AFF16-38A4-4E7D-ABC7-7F31B762FE32</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>FB7B3AC3-203B-4E3C-B3B2-30CB6C7CEE60</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
