<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>in.fech.localport</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>93FB54A2-D2D5-4C04-A5CD-04BFEB985D05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F0925BF-EC61-495C-9D02-5B5772E12693</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fechin</string>
	<key>description</key>
	<string>Open local ip with port</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Localport v1.0.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>loc</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>waiting...</string>
				<key>script</key>
				<string>localips=$(ifconfig | grep -A 1 "en" | grep broadcast | cut -d " " -f 2 | tr "\\n" " ")
query={query}
port=${query:-8080}

cat &lt;&lt; EOB
&lt;?xml version="1.0"?&gt;
&lt;items&gt;
 	&lt;item uid="localhost" arg="localhost:$port"&gt;
        &lt;title&gt;Open url: http://localhost:$port&lt;/title&gt;
	    &lt;subtitle&gt;Change the port by 'loc port' command&lt;/subtitle&gt;
        &lt;icon&gt;icon.png&lt;/icon&gt;
    &lt;/item&gt;
 	&lt;item uid="127.0.0.1" arg="127.0.0.1:$port"&gt;
        &lt;title&gt;Open url: http://127.0.0.1:$port&lt;/title&gt;
	    &lt;subtitle&gt;Change the port by 'loc port' command&lt;/subtitle&gt;
        &lt;icon&gt;icon.png&lt;/icon&gt;
    &lt;/item&gt;
EOB

for ip in $localips
do
cat &lt;&lt; EOB
    &lt;item uid="$ip" arg="${ip}:$port"&gt;
        &lt;title&gt;Open url: http://${ip}:$port&lt;/title&gt;
	    &lt;subtitle&gt;Change the port by 'loc port' command&lt;/subtitle&gt;
        &lt;icon&gt;icon.png&lt;/icon&gt;
    &lt;/item&gt;
EOB
done

echo "&lt;/items&gt;"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Please enter the port</string>
				<key>title</key>
				<string>Open the local port address</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>93FB54A2-D2D5-4C04-A5CD-04BFEB985D05</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7F0925BF-EC61-495C-9D02-5B5772E12693</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Updated by Andreas Stokholm to be able to handle multiple local IP-addresses.</string>
	<key>uidata</key>
	<dict>
		<key>7F0925BF-EC61-495C-9D02-5B5772E12693</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>93FB54A2-D2D5-4C04-A5CD-04BFEB985D05</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/Fechin</string>
</dict>
</plist>
