<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.customct.emacs</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>08E54D73-B58A-4379-93AF-20156961067E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21B06A24-98F3-4539-B977-5C0F51330422</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0CC7715F-8130-458E-92F4-C11EF09576B5</key>
		<array/>
		<key>279E0D2A-6669-4C4A-A663-20E8DDA240BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0BA3C60-58E5-4625-B38D-C39135843AB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F5E6396-6D1C-4DA2-A72B-A6977C1609AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0BA3C60-58E5-4625-B38D-C39135843AB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B2AEEE2-BBFE-408F-97FB-0B495C24EF2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CC7715F-8130-458E-92F4-C11EF09576B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>743A633D-7596-4F37-B3FC-C58169298741</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCC33594-6694-486A-8410-1277BCE1A174</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C37B436-47F5-447A-AEF2-D84595EAC652</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEAFC118-81B7-42D6-A99F-F007CE98F6DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCC33594-6694-486A-8410-1277BCE1A174</key>
		<array/>
		<key>D0BA3C60-58E5-4625-B38D-C39135843AB7</key>
		<array/>
		<key>DEAFC118-81B7-42D6-A99F-F007CE98F6DA</key>
		<array/>
		<key>F955C061-DEC7-4AE3-9551-2BAEA165F6A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEAFC118-81B7-42D6-A99F-F007CE98F6DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE3B6C7B-FC46-47E1-8278-DCEDE54BC86B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21B06A24-98F3-4539-B977-5C0F51330422</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Richard Guay</string>
	<key>description</key>
	<string>Open a file, folder, or project in Emacs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emacs Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
if application "Path Finder" is frontmost then	tell application "Path Finder"		set pathfinderselection to selection		if pathfinderselection is missing value then			display dialog "Nothing selected" buttons ¬				{"Oh, crud..."} default button 1			return		end if		set pathfinderpaths to ""		repeat with i from 1 to count of pathfinderselection			set pfItem to item i of pathfinderselection			-- Corrects for error when hidden files are showing			try				set currentpathfinderpath to (POSIX path of pfItem)				set pathfinderpaths to pathfinderpaths &amp; space ¬					&amp; quoted form of currentpathfinderpath			end try		end repeat	end tell
	openEmacs(currentpathfinderpath)else if application "Finder" is frontmost then	tell application "Finder"		try			if selection is {} then				set finderAlias to folder of the ¬					front window as alias				set finderSelection to quoted form of POSIX path of finderAlias			else				set finderSelection to selection as alias list			end if		on error			display dialog "Nothing selected" buttons ¬				{"Curses, foiled again!..."} default button 1			return		end try	end tell	openEmacs(POSIX path of finderSelection)else  if application "Commander One" is frontmost then	tell application "System Events"		keystroke "c" using {command down, control down}
		delay 1	end tell	openEmacs(the clipboard)end if
end alfred_script

on openEmacs(fileToOpen)
	do shell script "/usr/local/bin/emacsclient -n '" &amp; fileToOpen &amp; "'"
end openEmacs</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>21B06A24-98F3-4539-B977-5C0F51330422</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>em:open</string>
				<key>subtext</key>
				<string>Emacs Workflow</string>
				<key>text</key>
				<string>Open Finder Selection</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>08E54D73-B58A-4379-93AF-20156961067E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FE3B6C7B-FC46-47E1-8278-DCEDE54BC86B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Edit in Emacs (current window)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F955C061-DEC7-4AE3-9551-2BAEA165F6A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/local/bin/emacsclient -n "{query}";

echo "Opening file {query}.";
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DEAFC118-81B7-42D6-A99F-F007CE98F6DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>emm</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Open file matching '{query}' in Emacs.</string>
				<key>title</key>
				<string>Open in Emacs (Current Window)</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>7C37B436-47F5-447A-AEF2-D84595EAC652</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Edit In Emacs (New Window)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>279E0D2A-6669-4C4A-A663-20E8DDA240BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>em:fopennew</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Emacs Text Workflow</string>
				<key>title</key>
				<string>Open file in Emacs (New Window)</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>3F5E6396-6D1C-4DA2-A72B-A6977C1609AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>
/usr/local/bin/emacsclient -c -n "{query}";

echo "Opening file {query}.";
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0BA3C60-58E5-4625-B38D-C39135843AB7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>em:top</string>
				<key>subtext</key>
				<string>Emacs Workflow</string>
				<key>text</key>
				<string>Bring Emacs to the Top or Launch</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B2AEEE2-BBFE-408F-97FB-0B495C24EF2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell app "Emacs" to reopen activate</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0CC7715F-8130-458E-92F4-C11EF09576B5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>em:iterm</string>
				<key>subtext</key>
				<string>Emacs Workflow</string>
				<key>text</key>
				<string>Iterm to Emacs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>743A633D-7596-4F37-B3FC-C58169298741</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "iTerm"
		tell the current session of current terminal
			write text "emacsclient -n ./"		end tell
	end tellend alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>BCC33594-6694-486A-8410-1277BCE1A174</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08E54D73-B58A-4379-93AF-20156961067E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>0CC7715F-8130-458E-92F4-C11EF09576B5</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>21B06A24-98F3-4539-B977-5C0F51330422</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>279E0D2A-6669-4C4A-A663-20E8DDA240BE</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>3F5E6396-6D1C-4DA2-A72B-A6977C1609AE</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>4B2AEEE2-BBFE-408F-97FB-0B495C24EF2B</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>743A633D-7596-4F37-B3FC-C58169298741</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>7C37B436-47F5-447A-AEF2-D84595EAC652</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>BCC33594-6694-486A-8410-1277BCE1A174</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>D0BA3C60-58E5-4625-B38D-C39135843AB7</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>DEAFC118-81B7-42D6-A99F-F007CE98F6DA</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>F955C061-DEC7-4AE3-9551-2BAEA165F6A1</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>FE3B6C7B-FC46-47E1-8278-DCEDE54BC86B</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>customct.com</string>
</dict>
</plist>
