<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.invious.alfred3.terminal-here</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7686C74A-A33F-49C2-8231-40F1569A481A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7686C74A-A33F-49C2-8231-40F1569A481A</key>
		<array/>
		<key>A03FEDD9-1618-49AB-B83D-2F7777BECAC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB10DB5F-382C-430A-9F27-5E4AE8593084</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aymon Fournier</string>
	<key>description</key>
	<string>iterm or terminal cd into topmost Finder folder</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>alfred3-terminal-here</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set finderPath to ""tell application "Finder"	try		set finderFolder to (folder of the front window as alias)	on error		set finderFolder to (path to home folder as alias)	end try	set finderPath to quoted form of POSIX path of finderFolderend telltell application "Terminal"	activate	do script "cd " &amp; finderPathend tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7686C74A-A33F-49C2-8231-40F1569A481A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>term</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open topmost Finder folder in Terminal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cd</string>
				<key>subtext</key>
				<string>in open iTerm2 window</string>
				<key>text</key>
				<string>Open topmost Finder folder in iTerm2 tab</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A03FEDD9-1618-49AB-B83D-2F7777BECAC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set finderPath to ""

tell application "Finder"
  try
    set finderFolder to (folder of the front window as alias)
  on error
    set finderFolder to (path to home folder as alias)
  end try
  set finderPath to quoted form of POSIX path of finderFolder
end tell

tell application "iTerm"
  try
    tell current window
      create tab with default profile
    end tell
  on error msg
    display dialog msg
    create window with default profile
    tell current window
      create tab with default profile
    end tell
  end try
  tell current tab of current window
    select
    tell the current session
      write text "cd " &amp; finderPath
    end tell
  end tell
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>CB10DB5F-382C-430A-9F27-5E4AE8593084</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7686C74A-A33F-49C2-8231-40F1569A481A</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A03FEDD9-1618-49AB-B83D-2F7777BECAC0</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>CB10DB5F-382C-430A-9F27-5E4AE8593084</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>invio.us</string>
</dict>
</plist>
