<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ch.saschaeggenberger.knocktounlock</string>
	<key>connections</key>
	<dict>
		<key>7418877C-3767-44E5-A451-C46A034EAAF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90B03B69-F2E2-4239-B2FB-05AA16FC0668</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B162EE7D-E78A-450D-9CC1-788F79B6AE9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90B03B69-F2E2-4239-B2FB-05AA16FC0668</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sascha Eggenberger</string>
	<key>description</key>
	<string>Faster and safer than typing a password.</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Knocktounlock App</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  do shell script "open knock://lock"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>90B03B69-F2E2-4239-B2FB-05AA16FC0668</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B162EE7D-E78A-450D-9CC1-788F79B6AE9B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lock</string>
				<key>subtext</key>
				<string>Lock your Mac with Knock</string>
				<key>text</key>
				<string>Lock</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7418877C-3767-44E5-A451-C46A034EAAF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7418877C-3767-44E5-A451-C46A034EAAF7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>90B03B69-F2E2-4239-B2FB-05AA16FC0668</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B162EE7D-E78A-450D-9CC1-788F79B6AE9B</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/saschaeggi/alfred-knocktounlock</string>
</dict>
</plist>
