<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>leoflint.bluetoothonoff</string>
	<key>connections</key>
	<dict>
		<key>24BBD4F1-A95D-4325-91EE-D30AC56F0727</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F60A2A3-13EC-4613-B8B2-21F8D79836D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Leo Flint</string>
	<key>description</key>
	<string>Turn Bluetooth On or Off</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth On/Off</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./blueutil {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>3F60A2A3-13EC-4613-B8B2-21F8D79836D6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bluetooth</string>
				<key>subtext</key>
				<string>Turn Bluetooth {query}</string>
				<key>text</key>
				<string>Turn Bluetooth On/Off</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>24BBD4F1-A95D-4325-91EE-D30AC56F0727</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Turn Bluetooth on or off.</string>
	<key>uidata</key>
	<dict>
		<key>24BBD4F1-A95D-4325-91EE-D30AC56F0727</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3F60A2A3-13EC-4613-B8B2-21F8D79836D6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.leoflint.com</string>
</dict>
</plist>
