<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.jmes.hastebin</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2C560FB3-C2D7-47F2-9DA2-CFADF63998BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F97CEFE-2A5D-42DB-B62C-B6257B42AAB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31E74879-1E8F-4251-834F-83C0700983ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F91D127-10B0-4759-88F0-D973ECC042F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55BC3192-87ED-451C-B901-74F437AD018C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F08AD3B0-6C67-4636-BE1A-841AE9D5D541</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>74120DD9-62FF-420B-9958-E06FEB917D22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F91D127-10B0-4759-88F0-D973ECC042F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55BC3192-87ED-451C-B901-74F437AD018C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9253FC09-DF08-4739-BD64-8F0096D0DFA5</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Paste URL in current input field.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C560FB3-C2D7-47F2-9DA2-CFADF63998BB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in browser.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9253FC09-DF08-4739-BD64-8F0096D0DFA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74120DD9-62FF-420B-9958-E06FEB917D22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>436C1671-A2B6-440A-A8B9-ABEE8CB4DC36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James Van Dyke</string>
	<key>description</key>
	<string>Convert clipboard contents to Hastebin URL.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>hastebin</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F08AD3B0-6C67-4636-BE1A-841AE9D5D541</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>export LANG="$(defaults read -g AppleLocale).UTF-8" 
haste() { a=$(cat); curl -X POST -s -d "$a" https://hastebin.com/documents | awk -F '"' '{print "https://hastebin.com/"$4}' | tr -d ' '; }
echo "`pbpaste`" | haste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55BC3192-87ED-451C-B901-74F437AD018C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} copied to your clipboard</string>
				<key>title</key>
				<string>Hastebin</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>74120DD9-62FF-420B-9958-E06FEB917D22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hastebin</string>
				<key>subtext</key>
				<string>Convert clipboard contents to hastebin URL.</string>
				<key>text</key>
				<string>Hastebin</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8F91D127-10B0-4759-88F0-D973ECC042F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>export LANG="$(defaults read -g AppleLocale).UTF-8" 
haste() { a=$(cat); curl -X POST -s -d "$a" https://hastebin.com/documents | awk -F '"' '{print "https://hastebin.com/"$4}' | tr -d ' '; }
echo "`pbpaste`" | haste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9253FC09-DF08-4739-BD64-8F0096D0DFA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>hastebinFromClipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>31E74879-1E8F-4251-834F-83C0700983ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>436C1671-A2B6-440A-A8B9-ABEE8CB4DC36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>export LANG="$(defaults read -g AppleLocale).UTF-8" 
haste() { a=$(cat); curl -X POST -s -d "$a" https://hastebin.com/documents | awk -F '"' '{print "https://hastebin.com/"$4}' | tr -d ' '; }
echo "`pbpaste`" | haste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C560FB3-C2D7-47F2-9DA2-CFADF63998BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F97CEFE-2A5D-42DB-B62C-B6257B42AAB0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Options
enter: Replace clipboard content with Hastebin URL.
enter + cmd: Open created URL in default browser. Does not clobber clipboard.
enter + shift: Paste content into focused input field. Replaces clipboard content.</string>
	<key>uidata</key>
	<dict>
		<key>1F97CEFE-2A5D-42DB-B62C-B6257B42AAB0</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>2C560FB3-C2D7-47F2-9DA2-CFADF63998BB</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>31E74879-1E8F-4251-834F-83C0700983ED</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>436C1671-A2B6-440A-A8B9-ABEE8CB4DC36</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>55BC3192-87ED-451C-B901-74F437AD018C</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>74120DD9-62FF-420B-9958-E06FEB917D22</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>8F91D127-10B0-4759-88F0-D973ECC042F3</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>9253FC09-DF08-4739-BD64-8F0096D0DFA5</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>F08AD3B0-6C67-4636-BE1A-841AE9D5D541</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1.2</string>
	<key>webaddress</key>
	<string>https://github.com/jvandyke/alfred-hastebin</string>
</dict>
</plist>
