<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>clickysteve.alfred.vlcremote</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Clicky Steve</string>
	<key>description</key>
	<string>Remote Control workflow for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VLC Remote Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>vlcremote</string>
				<key>triggername</key>
				<string>VLC</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>22C92C6D-45B6-4083-B4F9-7A7F6BA4157B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>22C92C6D-45B6-4083-B4F9-7A7F6BA4157B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://iamsteve.in/</string>
</dict>
</plist>
