<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jinkunw.say</string>
	<key>connections</key>
	<dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE24AB40-5304-46AB-8AFA-2B24A2B7CD29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jinkun Wang</string>
	<key>description</key>
	<string>Pronounce a word</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Say</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd $TMPDIR
curl -o {query}.mp3 "https://ssl.gstatic.com/dictionary/static/sounds/de/0/{query}.mp3"
afplay {query}.mp3
rm {query}.mp3</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AE24AB40-5304-46AB-8AFA-2B24A2B7CD29</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>say</string>
				<key>subtext</key>
				<string>Audio Pronunciations from Google</string>
				<key>text</key>
				<string>Pronounce a word</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Say
Pronounce a word using Google’s Audio Pronunciation service.</string>
	<key>uidata</key>
	<dict>
		<key>AE24AB40-5304-46AB-8AFA-2B24A2B7CD29</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jinkunw/alfred-workflows</string>
</dict>
</plist>
