<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ch.milan.togglewifi</string>
	<key>connections</key>
	<dict>
		<key>692E0AD2-E56B-4730-AC50-6491558E4BBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9D0FB83-4425-4593-B426-226ACA5A287E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Milan van Zanten</string>
	<key>description</key>
	<string>Turn AirPort on and off</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Wifi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set wifi to (do shell script "networksetup -listallhardwareports | grep -A 1 Wi-Fi | tail -n 1 | cut -b 9-12")
	if (offset of "On" in (do shell script "networksetup -getairportpower " &amp; wifi &amp; " ")) &gt; 0 then
		do shell script "networksetup -setairportpower " &amp; wifi &amp; " off"
	else
		do shell script "networksetup -setairportpower " &amp; wifi &amp; " on"
	end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F9D0FB83-4425-4593-B426-226ACA5A287E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wifi</string>
				<key>text</key>
				<string>Toggle Wifi</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>692E0AD2-E56B-4730-AC50-6491558E4BBC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>692E0AD2-E56B-4730-AC50-6491558E4BBC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F9D0FB83-4425-4593-B426-226ACA5A287E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>milanovi.ch</string>
</dict>
</plist>
