<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fradser.uninstall.cleanmymac3</string>
	<key>connections</key>
	<dict>
		<key>024BB2E4-FB1F-4407-9444-BF66E086C5B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0938A6D-2670-4103-B515-6F2FE226CAAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>86FB33D5-F3F8-4745-9963-7AA431469162</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0938A6D-2670-4103-B515-6F2FE226CAAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FradSer</string>
	<key>description</key>
	<string>Uninstall app, plugin, or widget with CleanMyMac 3.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Uninstall with CleanMyMac 3</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>uninstall</string>
				<key>scopes</key>
				<array/>
				<key>title</key>
				<string>Uninstall with CleanMyMac 3</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>024BB2E4-FB1F-4407-9444-BF66E086C5B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>open -a CleanMyMac\ 3.app {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0938A6D-2670-4103-B515-6F2FE226CAAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
					<string>com.apple.dashboard-widget</string>
					<string>com.apple.plugin</string>
				</array>
				<key>name</key>
				<string>Uninstall with CleanMyMac 3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>86FB33D5-F3F8-4745-9963-7AA431469162</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This was a modification from the AppCleaner workflow by Jonas Eriksen. All credit goes to him.

Thank Mike McKenna’s Uninstall with CleanMyMac 2 for Alfred.</string>
	<key>uidata</key>
	<dict>
		<key>024BB2E4-FB1F-4407-9444-BF66E086C5B9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>86FB33D5-F3F8-4745-9963-7AA431469162</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>E0938A6D-2670-4103-B515-6F2FE226CAAA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>fradser.me</string>
</dict>
</plist>
